.searchBar,
.searchInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  padding: 10px;
  -webkit-box-shadow: 0px 2px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 14px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 14px -4px rgba(0, 0, 0, 0.75);
}

.searchInput {
  background: #dedede;
  padding: 10px 8px;
  border-radius: 8px;
}

.searchInput input {
  background: none;
  border: none;
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  width: 700px;
}

.searchInput input:focus-visible {
  border: none;
  outline: none;
}
